<h1> My Produts</h1>
<!-- Event Bingding-->
<button (click)="productName = 'Tree'">Change Name</button>
<button (click)="productName = 'Tree'" disabled>Change Name</button>
<button (click)="productName = 'Tree'" [disabled]="isDisable">Change Name</button>
<div>{{productName}}</div>

<input type="text" [(ngModel)]="productName">


<hr>
 
<br>
<br>
<input *ngIf="!isDisable" type="text" [(ngModel)]="productName">
<button *ngIf="!isDisable" (click)="onAddProduct()">Add Product</button>


 <!--<app-products (productClicked)="onRemoveProduct(item)" *ngFor="let item of productList" [pName]="item"></app-products>
-->

<br>
<hr>
<br>

<h1>Forms</h1>
<form (ngSubmit)="onAddProduct(f)" #f="ngForm">
    <input type="text" ngModel name="prdName" required>
    <button type="submit">Add Product</button>
</form>
<app-products (productClicked)="onRemoveProduct(item)" *ngFor="let item of productList" [pName]="item"></app-products>

