<h1> My Produts</h1>
<!-- Event Bingding-->
<button (click)="productName = 'Tree'">Change Name</button>
<button (click)="productName = 'Tree'" disabled>Change Name</button>
<button (click)="productName = 'Tree'" [disabled]="isDisable">Change Name</button>
<div>{{productName}}</div>

<input type="text" [(ngModel)]="productName">


<hr>
 
<br>
<br>
<input *ngIf="!isDisable" type="text" [(ngModel)]="productName">
<button *ngIf="!isDisable" (click)="onAddProduct()">Add Product</button>


<app-products *ngFor="let item of productList" [pName]="item"></app-products>


